@{
    ViewData["Title"] = "Ganador";
}
    <nav>
        <img src="img/logo.png" alt="">
        <ul>
            <li> <a href="">Inicio</a> </li>
            <li> <a href='@Url.Action("Tutorial","Home")'>Tutorial</a> </li>
            <li> <a href='@Url.Action("Comenzar","Home")'>Iniciar Juego</a> </li>
            <li> <a href="">Pistas</a> </li>
            <li> <a href='@Url.Action("Creditos","Home")'>Creditos</a> </li>
        </ul>
    </nav>
    <main id="mainGanador">
        <img src='@Url.Content("~/vid/confeti.gif")' alt="" class="confetiIzquierda">
         <img src='@Url.Content("~/vid/confeti.gif")' alt="" class="confeti confetiDerecha">
        <h1>¡GANASTE!</h1>
            <a href='@Url.Action("Comenzar","Home")'><button id="reiniciar"><strong>Reiniciar</strong></button></a> 
    </main>
    <footer></footer>