@{
    ViewData["Title"] = "IngresoDatos";
}

   <nav>
        <img src="img/logo.png" alt="">
        <ul>
            <li> <a href='@Url.Action("Index","Home")'>Inicio</a> </li>
            <li> <a href='@Url.Action("Tutorial","Home")'>Tutorial</a> </li>
            <li> <a href='@Url.Action("Iniciar","Home")'>Iniciar Juego</a> </li>
            <li> <a href='@Url.Action("Continuar","Home")'>Continuar Juego</a> </li>
            <li> <a href='@Url.Action("Pistas","Home")'>Pistas</a> </li>
            <li> <a href='@Url.Action("Creditos","Home")'>Creditos</a> </li>
        </ul>
    </nav>
<main id="creditos">
     <form action='@Url.Action("Comenzar","Home")' method="post" class="formUsuario">
        <h4>Usuario</h4>
        <input type="text" value="" required name="usuario" autocomplete="off">
        <button type="submit" class="enviarForm">
            Enviar
        </button>
    </form>
  <article id="TablaDatos">
        <h3>Nombre</h3>
        <h3>Pistas usadas</h3>
        <h3>Tiempo</h3>
        @foreach (KeyValuePair<string, string[]> kvp in @ViewBag.Usuarios)
        {
            string clave = kvp.Key;
            string[] valores = kvp.Value;
            foreach (string valor in valores)
            {
                <h3>@valor</h3>
            }
        }
    </article>
</main>