@{
    ViewData["Title"] = "Pistas";
}
    <nav>
        <img src="img/logo.png" alt="">
        <ul>
            <li> <a href="">Inicio</a> </li>
            <li> <a href='@Url.Action("Tutorial","Home")'>Tutorial</a> </li>
            <li> <a href='@Url.Action("Comenzar","Home")'>Iniciar Juego</a> </li>
            <li> <a href='@Url.Action("Continuar","Home")'>Continuar Juego</a> </li>
            <li> <a href="">Pistas</a> </li>
            <li> <a href='@Url.Action("Creditos","Home")'>Creditos</a> </li>
        </ul>
    </nav>
    <main id="pistas">
        <h1>PISTAS</h1>
        <section>
            <p>@ViewBag.Pistas[0]</p>
        </section>
    </main>
    <footer></footer>